{% load static %}

<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="{% static 'css/clinicadminpage.css' %}" />
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      {% block logoname %}
      <div class="logo-details">
        <i class="bx bx-clinic"></i>
        <span class="logo_name">
          {{user.clinic}}

        </span>
      </div>
      {% endblock %}
      <ul class="nav-links">
        <li>
          <a href="{% url 'adminpage' username=request.user.username %}">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        
        <li>
          <a href="{% url 'customerlist' username=request.user.username %}">
            <i class="bx bx-box"></i>
            <span class="links_name">Customer list</span>
          </a>
        </li>
        <li>
          <a href="{% url 'Appointmentlist' username=request.user.username %}">
            <i class="bx bx-list-ul"></i>
            <span class="links_name">Appointment list</span>
          </a>
        </li>
        <li>
          <a href="{% url 'adminlist' username=request.user.username %}">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="links_name">Admin list</span>
          </a>
        </li>
        <li>
          <a href="{% url 'doctorlist' username=request.user.username %}">
            <i class="bx bx-coin-stack"></i>
            <span class="links_name">Doctor</span>
          </a>
        </li>
        <!-- <li>
          <a href="#">
            <i class="bx bx-book-alt"></i>
            <span class="links_name">Total order</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-user"></i>
            <span class="links_name">Team</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-message"></i>
            <span class="links_name">Messages</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-heart"></i>
            <span class="links_name">Favrorites</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Setting</span>
          </a>
        </li> -->
        <li class="log_out">
          <a href="{% url 'adminLogout' %}">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
    </div>
    <section class="home-section">
      {% block nav %} 
      {% include "adminnav.html" %} 
      {% endblock %} 
      {% block content1 %}

      <div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total appointment</div>
              <div class="number">{{ appointments|length }}</div>
              <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Up from yesterday</span>
              </div>
            </div>
            <!-- <i class="bx bx-cart-alt cart"></i> -->
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Doctor</div>
              <div class="number">{{doctors|length}}</div>
              <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Up from yesterday</span>
              </div>
            </div>
            <!-- <i class="bx bxs-cart-add cart two"></i> -->
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Customer</div>
              <div class="number">{{customers|length}}</div>
              <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Up from yesterday</span>
              </div>
            </div>
            <!-- <i class="bx bx-cart cart three"></i> -->
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Admin</div>
              <div class="number">{{admins|length}}</div>
              <div class="indicator">
                <!-- <i class="bx bx-up-arrow-alt"></i> -->
                <i class="bx bx-down-arrow-alt down"></i>
                <span class="text">Up from yesterday</span>
              </div>
            </div>
            <!-- <i class="bx bxs-cart-download cart four"></i> -->
          </div>
        </div>

        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title">Appointment</div>
            <div class="button">
              <a href="{% url 'add_appointment' %}"
                >Add appointment</a
              >
            </div>
            

            <div class="sales-details">
              <ul class="details">
                <li class="topic">ID</li>
                {% for appointment in appointments %}

                <li>{{appointment.id}}</li>
                {% endfor %}
              </ul>

              <ul class="details">
                <li class="topic">DateTime</li>
                {% for appointment in appointments %}

                <li>{{appointment.date}} {{appointment.time}}</li>
                {% endfor %}
              </ul>

              <ul class="details">
                <li class="topic">Customer</li>
                {% for appointment in appointments %}

                <li>{{appointment.customer}}</li>
                {% endfor %}
              </ul>
              <ul class="details">
                <li class="topic">Fullname</li>
                {% for appointment in appointments %}

                <li>{{appointment.fullname}}</li>
                {% endfor %}
              </ul>
              <ul class="details">
                <li class="topic">Doctor</li>
                {% for appointment in appointments %}

                <li>{{appointment.doctor}}</li>
                {% endfor %}
              </ul>
              <ul class="details">
                <li class="topic">state</li>
                {% for appointment in appointments %}
                <li>{{appointment.state}}</li>
                {% endfor %}
              </ul>

              <ul class="details">
                <li class="topic">Option</li>
                {% for appointment in appointments %}
                <li>
                  <div class="button">
                    <a href="{% url 'edit_appointment' appointment.id %}"
                      >Edit</a
                    >
                    <ul>
                      |
                    </ul>
                    <a
                      href="{% url 'delete_appointment' appointment.id %}"
                      onclick="return confirm('Are you sure you want to delete this appointment?')"
                      >Delete</a
                    >
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>


            <div class="pagination">
              <span class="step-links">
                {% if appointments.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a>|</a>
                <a href="?page={{ appointments.previous_page_number }}"
                  >previous</a
                >

                {% endif %}

                <span class="current-page">
                  Page {{ appointments.number }} of
                  {{appointments.paginator.num_pages }}.
                </span>
                {% if appointments.has_next %}
                <a href="?page={{ appointments.next_page_number }}">next</a>
                <a>|</a>

                <a href="?page={{ appointments.paginator.num_pages }}"
                  >last &raquo;</a
                >
                {% endif %}
              </span>
            </div>
          </div>
          <!-- <div class="top-sales box">
            <div class="title">Top Seling Product</div>
            <ul class="top-sales-details">
              <li>
                <a href="#">
                  <img src="images/sunglasses.jpg" alt="">
                  <span class="product">Vuitton Sunglasses</span>
                </a>
                <span class="price">$1107</span>
              </li>
              <li>
                <a href="#">
                  <img src="images/jeans.jpg" alt="">
                  <span class="product">Hourglass Jeans </span>
                </a>
                <span class="price">$1567</span>
              </li>
              <li>
                <a href="#">
                  <img src="images/nike.jpg" alt="">
                  <span class="product">Nike Sport Shoe</span>
                </a>
                <span class="price">$1234</span>
              </li>
              <li>
                <a href="#">
                  <img src="images/scarves.jpg" alt="">
                  <span class="product">Hermes Silk Scarves.</span>
                </a>
                <span class="price">$2312</span>
              </li>
              <li>
                <a href="#">
                  <img src="images/blueBag.jpg" alt="">
                  <span class="product">Succi Ladies Bag</span>
                </a>
                <span class="price">$1456</span>
              </li>
              <li>
                <a href="#">
                  <img src="images/bag.jpg" alt="">
                  <span class="product">Gucci Womens's Bags</span>
                </a>
                <span class="price">$2345</span>
              </li>

              <li>
                <a href="#">
                  <img src="images/addidas.jpg" alt="">
                  <span class="product">Addidas Running Shoe</span>
                </a>
                <span class="price">$2345</span>
              </li>
              <li>
                <a href="#">
                  <img src="images/shirt.jpg" alt="">
                  <span class="product">Bilack Wear's Shirt</span>
                </a>
                <span class="price">$1245</span>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
      {% endblock %}
    </section>

    <script>
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
        if (sidebar.classList.contains("active")) {
          sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      };
    </script>
  </body>
</html>
